name: "Terraform Check drift Using Smurf"

on:
    workflow_call:
      inputs:
        smurf_version:
          required: false
          default: "latest"
          type: string
        
        terraform_version:
          required: false
          default: "1.8.5"
          type: string

        working_directory:
          required: false
          type: string
          default: "."

        aws_region:
          required: true
          type: string
        
      secrets:
        AWS_ACCESS_KEY_ID:
          required: true

        AWS_SECRET_ACCESS_KEY:
          required: true

        


jobs:
    drift_check:
        name: Terraform drift check
        runs-on: ubuntu-latest

        permissions:
            id-token: write
            contents: read

        steps:
            - name: Install Smurf
              uses: clouddrove/smurf@master
              with:
                version: latest

            - name: Checkout
              uses: actions/checkout@v4

            - name: Setup Terraforn
              uses: hashicorp/setup-terraform@v3
              with:
                terraform_version: "1.8.5"
                terraform_wrapper: false

            - name: Configure AWS Credentials
              uses: aws-actions/configure-aws-credentials@v4
              with:
                aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
                aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                aws-region: ${{ secrets.AWS_REGION }}









            - name: Show backend.tf
              run: cat backend.tf

            - name: Check tfvars file exists
              run: ls -la terraform.tfvars


            - name: Terraform init
              run: smurf stf init

            - name: Terraform Formatting
              run: smurf stf fmt --timeout 10s

            - name: Terraform Drift using Smurf
              run: smurf stf drift
              

    
#terraform plan -var-file="terraform.tfvars" -detailed-exitcode -no-color
